/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  line-height: 1.6;
  color: #333;
}
img {
  max-width: 100%;
  height: auto;
}
