/* header.css */
header {
  background-color: #ff5252;
  color: white;
  padding: 20px 10px;
  text-align: center;
}
header form {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}
header input,
header button {
  padding: 10px;
}
header button {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  header form {
    flex-direction: column;
  }
  header input,
  header button {
    width: 100%;
    margin: 5px 0;
  }
}
