.image-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  transition: transform 0.2s;
}

.image-card:hover {
  transform: scale(1.02);
}

.image-card img {
  width: 100%;
  height: auto;
}

.image-info {
  padding: 0.5rem;
  text-align: center;
  background-color: #f2f2f2;
}
